# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python modules
*.pyc

# Miscellaneous
.env
*.swp
.DS_Store
*.bak
*.tmp
*~
*.idea
*.pytest_cache
tf/.terraform/
tf/packages/
